<div class="container" >
  <div class="jumbotron">
    <div class="row">
        <form class="form-horizontal" action="#/add-movie" method="POST">
          <fieldset>
            <legend><h2><strong>Add movie</strong></h2></legend>

            <div class="form-group">
              <label class="col-lg-2 control-label">Title</label>
              <div class="col-lg-10">
                <input type="text" class="form-control title" placeholder="Title">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Actors</label>
              <div class="col-lg-10">
                <input type="text" class="form-control actors" placeholder="Separate the actors by comma(,).">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Year</label>
              <div class="col-lg-10">
                <input type="textx" class="form-control year" id="inputPassword" placeholder="Year">
              </div>
            </div>
            <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">Description</label>
              <div class="col-lg-10">
                <textarea class="form-control description" rows="3" id="textArea"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Released</label>
              <div class="col-lg-10">
                <input type="text" class="form-control released" id="datepicker" placeholder="dd/mm/yyyy">
              </div>
            </div>
            <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Runtime</label>
              <div class="col-lg-10">
                <input class="form-control runtime" placeholder="Runtime">
              </div>
            </div>
            <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Image Url</label>
              <div class="col-lg-10">
                <input class="form-control img-url" placeholder="Image Url">
              </div>
            </div>
            <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Genres</label>
              <div class="col-lg-10">
              <div id="genre-multiselector" class="container-fluid form-control genre">
            {{#each keys }}
              {{#if this.name}}
              <div class="form-group">
<<<<<<< HEAD
              <label for="select" class="col-lg-2 control-label">{{this.name}}</label>
              <div class="col-lg-10">
              <div id="genre-multiselector" class="container-fluid form-control {{this.name}}">
                <v-select v-model="selected" multiple :options="options" ></v-select>
                <span id="selected-genres" class="hidden">{{ selected }}</span>
=======
              <label for="select" class="col-lg-2 control-label">{{this.genre}}</label>
              <div class="col-lg-10">
              <div id="genre-multiselector" class="container-fluid form-control {{this.genre}}">
                <v-select v-model="selected" multiple :options="options" ></v-select>
                <span id="selected-genres" class="hidden">\{{ selected }}</span>
<<<<<<< HEAD
>>>>>>> parent of 023b30b... datetimepicker added
=======
>>>>>>> parent of 023b30b... datetimepicker added
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="select" class="col-lg-2 control-label">Image Url</label>
              <div class="col-lg-10">
                <input class="form-control trailer-url" placeholder="Trailer Url">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Back</button>
                <button type="submit" class="btn btn-md btn-success">Add</button>
              </div>
            </div>
            {{#each myObject}}
    Key: {{@key}} Value = {{this}}
            {{/each}}
            {{#each keys}}
            {{#if Genre}}
                <img src="star.gif" alt="Active">
                {{else}}
                <div class="form-group">
              <label class="col-lg-2 control-label">{{this}}</label>
              <div class="col-lg-10">
                <input type="text" class="form-control {{this}}" placeholder="{{this}}">
              </div>
            </div>
                {{/if}}

            {{/each}}
          </fieldset>
        </form>
      </div>
   </div>
</div>

