<div class="container" >
  <div class="jumbotron">
    <div class="row">
        <form class="form-horizontal" action="#/add-movie" method="POST">
          <fieldset>
            <legend><h2><strong>Add movie</strong></h2></legend>

            {{#each keys }}
              {{#if this.name}}
              <div class="form-group">
              <label for="select" class="col-lg-2 control-label">{{this.name}}</label>
              <div class="col-lg-10">
              <div id="genre-multiselector" class="container-fluid form-control {{this.name}}">
                <v-select v-model="selected" multiple :options="options" ></v-select>
                <span id="selected-genres" class="hidden">\{{ selected }}</span>
                </div>
              </div>
            </div>
              {{else}}
               <div class="form-group">
              <label class="col-lg-2 control-label">{{this}}</label>
              <div class="col-lg-10">
                <input type="text" class="form-control {{this}}" id="form-{{this}}" placeholder="{{this}}">
              </div>
            </div>
            {{/if}}
            {{/each}}
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Back</button>
                <button type="submit" class="btn btn-md btn-success">Add</button>
              </div>
            </div>

          </fieldset>
        </form>
      </div>
   </div>
</div>

